.main{
    color:aqua;
    padding-top:20px;
    padding-bottom: 60px;
    margin-bottom:50px;
}
.head{
    font-family: 'Signika', sans-serif;
    text-align: center;
    padding-bottom:15px;
    font-size:1.7rem;
}
.about-content{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    @media(max-width:768px)
    {
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
    }
    gap:30px;
}
.content{
    /* font-family: 'Asap Condensed', sans-serif; */
    font-family: 'Kanit', sans-serif;
    /* font-family: 'Yanone Kaffeesatz', sans-serif; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
    @media(max-width:768px)
    {
        text-align: center;
        align-items: center;
        margin-left:0;
        padding:10px;
    }
    h3{
        font-size:1.4rem;
        @media(max-width:768px)
        {
            font-size:1.1rem;
        }
    }
    p{
        font-size:1.2rem;
        @media(max-width:768px)
        {
            font-size:0.9rem;
        }
    }
}
.about-image{
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
    width:80%;
    /* height:130%; */
    border: 2px solid white;
    border-radius:20px;
    object-fit: contain;
    @media(max-width:768px)
    {
        width:50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}